language: node_js
sudo: false
node_js: stable
cache:
  yarn: true
  directories:
  - node_modules
matrix:
  allow_failures:
  - env: CMD=lint
env:
  matrix:
  - CMD=lint
  - CMD=test
script:
- yarn $CMD
notifications:
  email: false
  slack:
    secure: lZbl4j5RscEut5Z0XR1GovvjJrNSsfLlsr7XVDki6O4dUoA3sVLpBnnmvOYL60/YXduv/3TjV/+BmbbBKS5fFEKfN6QguYA3yFkU0NH9e6aynFbEWjWEYdrgitr91jmabtWH3vqYh6P4iNYdDaNwC0C7L47+E9F4g1iif3MR1o4GfRMBfvnaEqjlxjY+9aWXZ1/FTWaM7aJzunqXtrFEhDV8l7R43/2u1WnwIWiNe5kLIz6pTMB6ixrhhZ3SYfJ7izZPievjCnpkvGsVJKf/LIFSQVRORsVZJCunj+RwvYjgJDc4SuqXdxbWF0/0qh0DUqziebdOzDQHosOagDh6ZsGMKzBNrpOHu8s7/V9ze7OZqvBaRHpZ3/ga+CLfoPLyUeTZgmZUHvPYq+RWYEMKmlBDobn3Vl1eFBwjkg9aaBI3z0laCQMvMl9JlpvcAojFyKTpM5UoJTnOQ1ll1bsB+3ew5pQzcSzCkUlGezuIUiZjcAINZ05ZSvgCgXTeRD2KPBj+xuPBtwQan4qhwMHnE2S/k1z1tUEiiXxvQtof5TCba9QQfpPjvz78nFjT3/5q5fN4SyY4Ovehd4yBiSoQxchaRr3fm6PpYUvhj2DbN7InPZnzbIDsuhmE2PqwyCdvEUszjeYhykuP+duLBR1cup+/lGBTG/LcTCqj6QAhiEU=
