<ul itemscope itemtype="http://schema.org/BreadcrumbList">
  <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="top">
    <a itemprop="item" href="{{@blog.url}}"><span itemprop="name">TOP</span></a>
    <meta itemprop="position" content="1" />
  </li>

  <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="currentpage">
    <a itemprop="item" href="{{url}}"><span itemprop="name">{{title}}</span></a>
    <meta itemprop="position" content="2" />
  </li>
</ul>
