<ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li class="breadcrumb__item home" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="{{@blog.url}}"><span itemprop="name">HOME</span></a>
    <meta itemprop="position" content="1" />
  </li>

  <li class="breadcrumb__item currentpage" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <span itemprop="name">{{title}}</span>
    <meta itemprop="position" content="2" />
  </li>
</ul>
