<footer class="site-footer">
  <div class="copyright">
    &copy; <a href="{{@blog.url}}">{{@blog.title}}</a> {{date format="YYYY"}}.
  </div>

  <a href="#" class="scroll-top">Going up?</a>
</footer>
