<section class="aside-category">
	<h3>カテゴリ</h3>
	<ul>
		<li><a href="#">link（30）</a></li>
		<li><a href="#">link</a></li>
		<li><a href="#">link</a></li>
		<li><a href="#">link</a></li>
	</ul>
</section>
<section class="aside-newest">
	<h3>最新の記事</h3>
	<ul>
		{{#foreach posts limit="3"}}
		<li><a href="{{url}}">{{title}}</a></li>
		{{/foreach}}
	</ul>
</section>
