// Footer
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.site-footer {
  color: #999;
  font-size: 0.938rem;
  background-color: #fff;
  border-top: 0.063rem solid #ccc;
  padding: 0.938rem;

  a {
    color: #999;
  }
}
