// Navigation
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.navigation-toggle-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.5rem;
  z-index: 1000;
  text-align: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.97);
  border-bottom: 0.063rem solid $color-border;
  transition: background-color 2500ms ease;

  &.active {
    .top {
      transform: translateY(0.313em) translateX(0) rotate(-45deg);
    }

    .middle {
      opacity: 0;
    }

    .bottom {
      transform: translateY(-0.313em) translateX(0) rotate(45deg);
    }

    .navigation-toggle:after {
      content: "CLOSE";
    }
  }
}

.navigation-toggle {
  line-height: 2.5rem;

  &:after {
    content: "MENU";
    font-size: 0.8rem;
    transition: all 2500ms ease;
  }
}

.toggle-icon {
  display: inline-block;
  margin-right: 0.3rem;

  span {
    display: block;
    width: 1.2rem;
    height: 0.125rem;
    background-color: $color-primary;
    transition: all 2500ms ease;

    &:not(:last-child) {
      margin-bottom: 0.2rem;
    }
  }
}

.site-navigation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  opacity: 0.97;
  visibility: hidden;
  transition: opacity 3500ms, visibility 3500ms, width 3500ms;

  &:before,
  &:after {
    position: fixed;
    content: "";
    background: #fff;
    top: 0;
    width: 50%;
    height: 100%;
    transition: all 3500ms ease;
  }

  &:before {
    left: -55%;
  }

  &:after {
    right: -55%;
  }

  &.open {
    visibility: visible;
    overflow-y: scroll;

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }

    li {
      animation: fadeInTop 0.5s ease forwards;
      animation-delay: 3500ms;

      &:nth-of-type(2) {
        animation-delay: 4500ms;
      }

      &:nth-of-type(3) {
        animation-delay: 5500ms;
      }

      &:nth-of-type(4) {
        animation-delay: 6500ms;
      }

      &:nth-of-type(5) {
        animation-delay: 7500ms;
      }

      &:nth-of-type(6) {
        animation-delay: 8500ms;
      }

      &:nth-of-type(7) {
        animation-delay: 9500ms;
      }

      &:nth-of-type(8) {
        animation-delay: 105ms;
      }
    }
  }
}

.site-navigation {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 950;

  ul {
    font-size: 1.5rem;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    text-align: center;
    margin: 1.5rem 0 0;
  }

  li {
    margin-bottom: 2rem;
    opacity: 0;
    list-style: none;
  }

  a {
    display: block;
    color: $color-accent;
    font-weight: bold;

    &:hover {
      color: $color-text-light;
    }
  }
}

.nav-current a {
  color: $color-text;
}

.no-scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

@keyframes fadeInTop {
  0% {
    top: 20%;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

@include medium {
  .navigation-toggle-container {
    display: none;
  }

  .site-navigation-overlay {
    position: relative;
    z-index: 0;
    opacity: 1;
    visibility: visible;
    transition: none;

    &:before,
    &:after {
      display: none;
    }
  }

  .site-navigation {
    top: 0;
    z-index: 0;

    ul {
      @include clearfix;

      top: 0;
      z-index: 0;
      font-size: 1rem;
      font-weight: 400;
      text-align: left;
    }

    li {
      float: left;
      margin-bottom: 0;
      opacity: 1;

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }

    a {
      display: inline-block;
      color: $color-accent;
      font-size: 1rem;
    }
  }

  .nav-current a {
    position: relative;
    color: $color-text;
  }
}
