// ----------------------------------------------------------
// 共通設定fv

html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo,
    "ＭＳ Ｐゴシック", sans-serif;
  line-height: 1;
  color: #333;
  height: 100%;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

h1,
h3,
h4,
h5,
h6,
p,
ol,
ul,
dl,
dt,
dd,
figure,
button {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

h2 {
  margin-top: 0;
  margin-bottom: 1.25rem;
}

input {
  width: 100%;
  border: 0.063rem solid #7b7b7b;
  box-sizing: border-box;
  outline: none;
  padding: 0.313rem;
  font-size: 0.875rem;
}

textarea {
  width: 100%;
  border: 0.063rem solid #7b7b7b;
  resize: none;
  outline: none;
  font-size: 0.875rem;
  padding: 0.313rem;
  box-sizing: border-box;
}

input[type="checkbox"] {
  display: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

a,
a:hover,
a:focus {
  color: #475876;
  text-decoration: none;
}

p + p {
  margin-top: 1rem;
}

//  共通パーツ
.site-header {
  background-color: #fff;
  width: 100%;
  padding: 0.625rem 1.875rem;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  h1 {
    width: 18.75rem;
    margin: 0.625rem 0;
  }
}

.site-footer {
  color: #999;
  font-size: 0.938rem;
  background-color: #fff;
  border-top: 0.063rem solid #ccc;
  padding: 0.625rem;
}

@media (max-width: 48rem) {
  .site-header {
    margin: 2.5rem 0 0;

    ul {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 3;
      width: 100%;
      height: 100%;
      opacity: 0.97;
      visibility: hidden;
      transition: opacity 3500ms, visibility 3500ms, width 3500ms;
    }
  }
}

.wrapper {
  padding: 1.875rem 3.125rem;
}

// ----------------------------------------------------------
// 一覧
.home-template,
.tag-template {
  background-color: #f9f9f9;

  .wrapper {
    display: flex;
    justify-content: space-between;

    main {
      flex: 1;

      article {
        background-color: #fff;
        border-radius: 0.375rem;
        box-shadow: 0 0.375rem 0.938rem 0 rgba(0, 0, 0, 0.15);
        display: flex;
        min-height: 12.813rem;

        + article {
          margin-top: 1.563rem;
        }

        .featured-image {
          width: 45%;
          max-width: 27.5rem;
          overflow: hidden;
          border-radius: 0.375rem 0 0 0.375rem;

          a {
            display: block;
            max-width: 100%;
            max-height: 100%;
            height: 100%;
            position: relative;
            transition-duration: 300ms;
            border-radius: 0.375rem 0 0 0.375rem;
            background-position: center;
            background-size: cover;

            &:hover {
              transform: scale(1.15, 1.15);
            }
          }
        }

        .article-detail {
          flex: 1;
          padding: 1.25rem;

          .article-tag {
            display: flex;
            font-size: 0.75rem;

            &::before {
              content: "\f02b";
              font-family: FontAwesome, sans-serif;
              margin-right: 0.313rem;
            }

            li {
              a {
                color: #555;
              }

              + li {
                &::before {
                  content: ",";
                  margin: 0 0.313rem 0 0.188rem;
                }
              }
            }
          }

          > a {
            display: block;
            color: #333;
            margin-top: 0.625rem;

            header {
              h2 {
                font-size: 1.125rem;
                line-height: 1.4;
                display: inline;
                margin-right: 0.5rem;
              }

              p {
                color: #555;
                font-size: 0.75rem;
                display: inline-block;
              }
            }

            .article-text {
              margin-top: 0.688rem;
              line-height: 1.5;
              max-height: 4.2rem;
              overflow: hidden;
              word-wrap: break-word;
            }
          }
        }
      }
    }

    aside {
      width: 12.5rem;
      margin-left: 2.5rem;

      section {
        h3 {
          padding-bottom: 0.625rem;
          margin-bottom: 0.938rem;
          border-bottom: 0.063rem solid #ccc;
        }

        + section {
          margin-top: 3.75rem;
        }
      }

      .aside-category {
        ul {
          li {
            + li {
              margin-top: 0.938rem;
            }

            a {
              color: #555;

              &::before {
                content: "\f105";
                font-family: FontAwesome, sans-serif;
                margin-right: 0.625rem;
              }
            }
          }
        }
      }

      .aside-newest {
        ul {
          li {
            + li {
              border-top: 0.063rem dotted #ccc;
              padding-top: 0.938rem;
              margin-top: 0.938rem;
            }

            a {
              color: #333;
              font-size: 0.875rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 48rem) {
  .home-template,
  .tag-template {
    .wrapper {
      display: block;

      main {
        article {
          display: block;

          .featured-image {
            max-width: 100%;
            width: 100%;
            border-radius: 0.375rem 0.375rem 0 0;

            a {
              padding-top: 46%;
              border-radius: 0.375rem 0.375rem 0 0;
            }
          }
        }
      }

      aside {
        width: 100%;
        margin: 3.75rem 0 0;
      }
    }
  }
}

// ----------------------------------------------------------
// 詳細
.post-template {
  .wrapper {
    max-width: 50rem;
    margin: 0 auto;
  }

  main {
    article {
      header {
        margin-bottom: 1.563rem;

        h2 {
          font-size: 1.875rem;
          line-height: 1.4;
          font-weight: normal;
        }

        p {
          font-size: 0.875rem;
          color: #555;
          margin-top: 1.25rem;
        }

        .article-tag {
          margin-top: 1.25rem;
          display: flex;
          color: #555;
          font-size: 0.875rem;

          &::before {
            content: "\f02b";
            font-family: FontAwesome, sans-serif;
            margin-right: 0.313rem;
          }

          li {
            a {
              color: #555;
              text-decoration: underline;
            }

            + li {
              &::before {
                content: ",";
                margin: 0 0.313rem 0 0.188rem;
              }
            }
          }
        }
      }

      .post-content {
        line-height: 1.8;
        font-size: 1.125rem;

        p {
          margin-top: 2rem;
        }

        hr {
          margin-top: 3.75rem;
          margin-bottom: 3.75rem;
          width: 3.75rem;
        }

        h2 {
          position: relative;
          margin-top: 2rem;
          padding: 0.5rem 0 0.5rem 2rem;
          font-size: 1.563rem;
          line-height: 1.4;

          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            background-color: #4a5873;
            height: 100%;
            width: 0.313rem;
          }
        }

        * + h2 {
          margin-top: 5rem;
        }

        ul {
          list-style: circle inside;
          color: #4a5873;
          padding: 0 1rem;
          margin-top: 2rem;

          li {
            list-style: inside;
            font-weight: bold;

            + li {
              margin-top: 0.313rem;
            }
          }
        }

        table {
          margin-top: 2rem;
          border-top: 0.063rem solid #ccc;

          td {
            border-bottom: 0.063rem solid #ccc;
            padding: 1.563rem 1.25rem;
            vertical-align: top;

            &:first-child {
              white-space: nowrap;
            }
          }
        }

        .button {
          display: block;
          width: max-content;
          margin: 4rem auto 0;
          padding: 1.25rem 2.5rem;
          background-color: #4a5873;
          color: #fff;
          font-size: 1.25rem;
          line-height: 1.4;
          text-align: center;
          font-weight: bold;
          border-radius: 0.188rem;
        }
      }
    }

    .read-next-story {
      margin-top: 3.75rem;
      padding-top: 1.875rem;
      border-top: 0.125rem solid #ccc;
      display: flex;
      justify-content: space-between;

      > div {
        width: 45%;

        h3 {
          position: relative;
          font-size: 0.875rem;
          font-weight: normal;

          &::before,
          &::after {
            position: absolute;
            top: 0;
            font-family: FontAwesome, sans-serif;
            color: #999;
          }

          a {
            display: block;
            color: #4a5873;
            text-decoration: underline;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }

      .next {
        h3 {
          padding-left: 0.625rem;

          &::before {
            content: "\f104";
            left: 0;
            margin-right: 0.313rem;
          }
        }
      }

      .prev {
        h3 {
          padding-right: 0.625rem;

          &::after {
            content: "\f105";
            right: 0;
            margin-left: 0.313rem;
          }
        }
      }
    }

    .widget-share {
      display: flex;
      margin-top: 5rem;

      .share-item:not(:last-child) {
        border-right: 0.063rem solid #e9ebed;
      }

      .widget li {
        list-style: none;
      }

      .share-item {
        position: relative;
        flex-grow: 1;
        border-top: 0.063rem solid #e9ebed;
        border-bottom: 0.063rem solid #e9ebed;

        a {
          display: block;
          padding: 1rem 0;
          color: #66727d;
          text-align: center;
          transition: background-color 300ms, color 0ms;

          &:hover {
            color: #fff;
          }
        }
      }

      .share-item.twitter:hover a {
        background-color: #55acee;
      }

      .share-item.facebook:hover a {
        background-color: #3b5998;
      }

      .share-item.google-plus:hover a {
        background-color: #dc4e41;
      }
    }
  }
}
