// Variables
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-accent: #475876;
$color-border: #e9ebed;
$color-highlight: #fff198;
$color-primary: #66727d;
$color-secondary: #f6f7f7;
$color-text: #333;
$color-text-light: #999;

// Social Media
$color-twitter: #55acee;
$color-facebook: #3b5998;
$color-google-plus: #dc4e41;
$color-instagram: #3f729b;
$color-rss: #f26522;

// Sass Modules
// ––––––––––––––––––––––––––––––––––––––––––––––––––

@import "Base";
@import "Breakpoint";
@import "Breadcrumb";
@import "Utility";
@import "Blockquote";
@import "Code";
@import "Footer";
@import "Form";
// @import "Grid";
@import "Image";
@import "Link";
@import "List";
@import "Loop";
@import "Misc";
@import "Navigation";
@import "Pagination";
@import "Post";
// @import "Scroll";
// @import "Share";
// @import "Social";
// @import "Spacing";
@import "Table";
// @import "Typography";
// @import "Widget";

// Site header
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.site-header {
  background-color: #fff;
  width: 100%;
  padding: 0.938rem 1.875rem;
  box-sizing: border-box;

  @include clearfix;
}

.wrapper {
  padding: 2rem 1rem 4rem;
}
